<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Admin Login</title> 
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
  </head>
  <body style="background-color: lightgray;">
    <div class="container1">
      <div class="wrapper">
        <div class="title" style="background-color: black;"><span>Admin Login</span></div>
        <% if (locals.alert) { %>
          <div class="alert alert-success text-center m-3" id="error"><%= locals.alert %></div>
         <% } %>
         <% if (locals.error) { %>
          <div class="alert alert-danger text-center m-3" id="error"><%= locals.error %></div>
         <% } %>
        <form action="/adminLoginPost" method="post">
          <div class="row">
            <i class="fas fa-user" style="background-color: black;"></i>
            <input type="text" placeholder="Email" required name="email" id="contact-email" onkeyup="validateEmail()">
            <span id="email-error"></span>
          </div>
          <div class="row">
            <i class="fas fa-lock" style="background-color: black;"></i>
            <input type="password" placeholder="Password" required name="password">
          </div>
          <div class="row button">
            <input type="submit" value="Login" style="background-color: black;">
          </div>
        </form>
      </div>
    </div>

    <script>
      let err = document.getElementById("error");
      
      setTimeout(() => {
        err.style.display = "none"
      }, 3000);
    </script>

<script>
  var emailError = document.getElementById("email-error");

  function validateEmail() {
      var email = document.getElementById("contact-email").value;
    
      if (email.length == 0) {
        emailError.innerHTML = "Email is required";
        emailError.style.color = "red";
        return false;
      }
      if (!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {
        emailError.innerHTML = "Email is invalid";
        emailError.style.color = "red";
        return false;
      }
      emailError.innerHTML = "Valid";
      emailError.style.color = "green";
      return true;
    }
</script>

  </body>
</html>