<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/main.css?v=3.4">
</head>

<body>
    
    
                                
    
    <main class="main">
        
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">
                           
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Reset Password</h3>
                                        </div>
                                        <!-- <p class="mb-50 font-sm">
                                            Your personal data will be used to support your experience throughout this
                                            website, to manage access to your account, and for other purposes described
                                            in our privacy policy
                                        </p> -->
                                        <form action="/resetPasswordPost" method="post">
                                           
                                            <div class="form-group">
                                                <input type="text"  id="contact-email" name="email" placeholder="Email" onkeyup="validateEmail()">
                                                <span id="email-error"></span>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input required="" type="password" id="contact-password" name="password" placeholder="New password" onkeyup="validatePassword()">
                                        <span id="password-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="password" id="contact-password" name="confirmPassword"
                                            placeholder="Confirm new password" onkeyup="validateConfirmPassword()">
                                            <span id="confirm-password-error"></span>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                            name="login" onclick="validateForm()">Submit</button>
                                            <span id="submit-error"></span>
                                    </div>
                                    </form>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var nameError = document.getElementById("name-error");
        var emailError = document.getElementById("email-error");
        var phoneError = document.getElementById("phone-error");
        var passwordError = document.getElementById("password-error");
        var submitError = document.getElementById("submit-error");
        var confirmPassError = document.getElementById("confirm-password-error");
  
        function validateName() {
          var name = document.getElementById("contact-name").value.trim();
  
          if (name.length === 0) {
            nameError.innerHTML = "Name is required";
            nameError.style.color = "red";
            return false;
          }
  
          if (name[0] === " ") {
            nameError.innerHTML = "Name should not start with a space";
            nameError.style.color = "red";
            return false;
          }
  
          if (name.match(/^[0-9]+$/)) {
            nameError.innerHTML = "Alphabets only";
            nameError.style.color = "red";
            return false;
          }
  
          if (!name.match(/^[A-Za-z]+\s[A-Za-z]+$/)) {
    nameError.innerHTML = "Write full name";
    nameError.style.color = "red";
    return false;
}

  
          nameError.innerHTML = "Valid";
          nameError.style.color = "green";
          return true;
        }
  
        function validateEmail() {
    var email = document.getElementById("contact-email").value.trim();

    if (email.length == 0) {
        emailError.innerHTML = "Email is required";
        emailError.style.color = "red";
        return false;
    }

    // Use a standard email validation regular expression
    if (!email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
        emailError.innerHTML = "Email is invalid";
        emailError.style.color = "red";
        return false;
    }

    emailError.innerHTML = "Valid";
    emailError.style.color = "green";
    return true;
}

  
        function validatePhone() {
          var phone = document.getElementById("contact-phone").value.trim();
  
          if (phone.length == 0) {
            phoneError.innerHTML = "Phone number is required";
            phoneError.style.color = "red";
            return false;
          }
  
          if (!phone.match(/^[6-9][0-9]{9}$/)) {
            phoneError.innerHTML = "Invalid phone number";
            phoneError.style.color = "red";
            return false;
          }
  
          phoneError.innerHTML = "Valid";
          phoneError.style.color = "green";
          return true;
        }
  
        function validatePassword() {
          var password = document.getElementById("contact-password").value.trim();
  
          if (password.length === 0) {
            passwordError.innerHTML = "Password is required";
            passwordError.style.color = "red";
            return false;
          }
          if (
            password.length < 8 ||
            !/[a-zA-Z]/.test(password) ||
            !/\d/.test(password) ||
            !/[!@#$%^&*(),.?":{}|<>]/.test(password)
          ) {
            passwordError.innerHTML =
              "Password must be at least 8 characters <br> Password must contain at least one letter <br> Password must contain at least one number <br> Password must contain at least one special character";
            passwordError.style.color = "red";
            return false;
          }
  
          passwordError.innerHTML = "Strong Password";
          passwordError.style.color = "green";
          return true;
        }
  
        function validateConfirmPassword() {
          var password = document.getElementById("contact-password").value.trim();
          var confirmPassword = document
            .getElementById("confirm-password")
            .value.trim();
  
          if (confirmPassword.length === 0) {
            confirmPassError.innerHTML = "Confirm Password is required";
            confirmPassError.style.color = "red";
            return false;
          }
  
          if (password !== confirmPassword) {
            confirmPassError.innerHTML = "Passwords do not match";
            confirmPassError.style.color = "red";
            return false;
          }
  
          confirmPassError.innerHTML = "Valid";
          confirmPassError.style.color = "green";
          return true;
        }
  
        function validateForm() {
          if (
            !validateName() ||
            !validateEmail() ||
            !validatePhone() ||
            !validatePassword() ||
            !validateConfirmPassword()
          ) {
            submitError.style.display = "block";
            submitError.innerHTML = "Please enter all the fields to submit ";
            submitError.style.color = "red";
            setTimeout(function () {
              submitError.style.display = "none";
            }, 3000);
            return false;
          }
        }
        </script>


      <script>
        setTimeout(() => {
          document.getElementById("error").style.display = "none";
        }, 3000);
        setTimeout(() => {
          document.getElementById("warning").style.display = "none";
        }, 3000);
      </script>










<%- include("footer") %>